.custom-button {
    border: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
  
.custom-button:hover {
    opacity: 1;
}