.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}
  
.navbar-links span {
    color: #fff;
    padding: 0 5px;
}
  
.navbar-icon a {
    color: #fff;
    font-size: 24px;
}
  
.navbar-icon a:hover {
    color: #ccc;
}

@media (max-width: 1024px) {
    .navbar-links a {
        font-size: 12px;
    }

    .navbar-links span {
        font-size: 12px;
    }

    .navbar-icon a {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .navbar-links a {
        font-size: 10px;
    }

    .navbar-links span {
        font-size: 10px;
    }

    .navbar-icon a {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .navbar-links a {
        font-size: 8px;
    }

    .navbar-links span {
        font-size: 8px;
    }

    .navbar-icon a {
        font-size: 16px;
    }
}