.navbar-links a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}
  
.navbar-links span {
    color: #fff;
    padding: 0 5px;
}
  
.navbar-icon a {
    color: #fff;
    font-size: 24px;
}
  
.navbar-icon a:hover {
    color: #ccc;
}