.footer-main-container {
    height: 262px;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.footer-container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-infos {
    margin-top: 3%;
    display: flex;
    gap: 0 100px;
    align-items: center;
}

.footer-infos span{
    color: #f7981d;
    padding: 0 20px;
}

.footer-clubti-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

.footer-clubti-descriptions {
    display: flex;
    gap: 0 20px;
}