.container {
    height: 60vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comments-title {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px
}

.comments-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
}

.testimonial-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    position: relative;
}

.testimonial-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-profile.selected {
    width: 60px; 
    height: 60px;
    border: 4px solid white;
    z-index: 1;
}

.testimonial-profile-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-profile-wrapper.selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 130px;
    background: linear-gradient(180deg, #f3bf3b, #ff6600);
    border-radius: 50% / 60%; 
    z-index: -1; 
}